<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager>

    <ion-slide>
      <ion-img src="assets/bienvenido.PNG"></ion-img>
    </ion-slide>

    <!-- <ion-slide>
      <ion-img src="assets/Jolibeob (1) - copia.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/IMG-8393.jpg"></ion-img>
    </ion-slide> -->

  </ion-slides>
</ion-content>
