
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Informacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" routerLink="/home" routerDirection="root">
    <ion-icon name="arrow-back"  routerLink="/home" routerDirection="root"></ion-icon>
  </ion-button>

  <ion-slides pager>

    <ion-slide>
      <ion-img src="assets/1.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/2.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/3.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/4.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/5.PNG"></ion-img>
    </ion-slide>

  </ion-slides>

</ion-content>
