<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager>

            <ion-slide>
              <ion-img src="./assets/p1.PNG"></ion-img>
            </ion-slide>

            <ion-slide>
              <ion-img src="./assets/p2.PNG"></ion-img>
            </ion-slide>

            <ion-slide>
              <ion-img src="./assets/p3.PNG"></ion-img>
            </ion-slide>

            <ion-slide>
              <ion-img src="./assets/p4.PNG"></ion-img>
            </ion-slide>

            <ion-slide>
              <ion-img src="./assets/p5.PNG"></ion-img>
            </ion-slide>

            <ion-slide>
              <ion-img src="./assets/p6.PNG"></ion-img>
            </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-subtitle>JOLIBEOB</ion-card-subtitle>
        <ion-card-title>Bienvenido a Jolibeob</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>

    <ion-content>
  <!-- Segment in content -->
  <ion-content>
    <!-- Segment in content -->

    <ion-segment (ionChange)="segmentChanged($event)" color="warning">
      <ion-segment-button href="/informacion" value="informacion"
      routerLink="/informacion" routerDirection="root">
        <ion-label><a href="/informacion"></a>Información</ion-label>
        <ion-icon name="heart-empty"></ion-icon>
      </ion-segment-button>

      <ion-segment-button href="/recomendados" value="recomendados"
      routerLink="/recomendados" routerDirection="root">
        <ion-label>Recomendados</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-segment-button>

      <!-- <ion-segment-button href="/ayuda" value="ayuda" class="my-button"
      routerLink="/ayuda" routerDirection="root">
        <ion-label>Ayuda</ion-label>
      <ion-icon name="help"></ion-icon>"
      </ion-segment-button>

      <ion-segment-button href="/informacion" value="info" class="my-button2"
       routerLink="/informacion" routerDirection="root">
        <ion-label>Información</ion-label>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-segment-button> -->

    </ion-segment>
    <!-- <ion-segment (ionChange)="segmentChanged2($event)" color="warning">

    </ion-segment> -->
</ion-content>
