<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Busqueda Personalizada
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item >
    <ion-input (keyup.enter)="enter()" placeholder="Ingrese el ingrediente y presione enter..."
    [(ngModel)]="ingrediente" name="ingrediente"></ion-input>
  </ion-item>

  <ion-chip *ngFor="let item of ingredientes">
    <ion-label>{{item}}</ion-label>
    <ion-icon name="close" (click)="eliminar(item)"></ion-icon>
  </ion-chip>
  
  <ion-button icon-start outline (click)="buscar()"  color="dark">
    <ion-icon name="search"></ion-icon>
  </ion-button>
  <br><br>
  <ion-item  [routerLink]="[item.link, path]" routerDirection="forward" *ngFor="let item of recetasEncontradas">
    <ion-thumbnail slot="start">
      <img [src]="item.img">
    </ion-thumbnail>
    <ion-label>{{item.nombre}}</ion-label>
  </ion-item>
<!--
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list> -->
</ion-content>
